{% extends 'base.html' %}

{% block content %}

<div class="justify-center" style="margin-left: 450px;">



    <div class="container" style="margin-top: 100px; text-align: center;">
        <div class="card" style="width: 30rem;">
            <div class="card-body">
                <h5 class="card-title">Flash Card</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{card.question}}</h6>
                <p class="card-text">{{card.answer}}</p>
                {% if index < max_index %}
                    <a href="{{url_for('card_view',index=index+1)}}" class="btn btn-primary">Next Flash card</a>
                    <a class="btn btn-danger" href="{{ url_for('remove_card',index=index) }}">Remove This Card</a>
                 {% else %}
                    <a href="{{url_for('card_view',index=0)}}" class="btn btn-primary">Start Over</a>
                {% endif %}
            </div>
        </div>
    </div>

</div>


{% endblock %}